<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- targetSDK 32 이하 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- targetSDK 33 부터 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- targetSDK 34 이면서 Android OS 14 인 경우 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
</manifest>